gridBreakpoints = {
  xs: 0,
  sm: 576px,
  md: 758px,
  lg: 992px,
  xl: 1200px
}

nextBreakpoint = {
  xs: gridBreakpoints[sm],
  sm: gridBreakpoints[md],
  md: gridBreakpoints[lg],
  lg: gridBreakpoints[xl]
}
