colors = {
  primary: #2196f3,
  accent: #FF5722,
  victory: #4CAF50,
  defeat: #D32F2F,
  text: {
    primary: rgba(0,0,0,0.87),
    secondary: rgba(0,0,0,0.65)
  },
  tiers: {
    unranked: rgba(0,0,0,0.5),
    silver: rgb(123, 150, 137),
    bronze: rgb(102, 60, 13),
    gold: #FFD700,
    platinum: rgb(69, 144, 143),
    diamond: rgb(36, 117, 176),
    master: #FFD700,
    challenger: #FFD700,
  }
}
