@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?yeomev');
  src:  url('../fonts/icons.eot?yeomev#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?yeomev') format('truetype'),
    url('../fonts/icons.woff?yeomev') format('woff'),
    url('../fonts/icons.svg?yeomev#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.material-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-access_time:before {
  content: "\e191";
}
.icon-add:before {
  content: "\e145";
}
.icon-android:before {
  content: "\e859";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-extension:before {
  content: "\e87b";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-fiber_manual_record:before {
  content: "\e061";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-menu:before {
  content: "\70";
}
.icon-radio_button_unchecked:before {
  content: "\e836";
}
.icon-radio_button_checked:before {
  content: "\e837";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-timer:before {
  content: "\e425";
}
.icon-whatshot:before {
  content: "\e80e";
}
