@require '../colors'

.v-spinner
  &-primary
    &>div
      background-color: colors.primary !important

  &-accent
    &>div
      background-color: colors.accent !important

  &-white
    &>div
      background-color: white !important
